%h3 Please log in
%form#log-in{ action: '/sessions/new', method: 'post' }
  %input{ name: 'email', type: 'text', placeholder: 'Email' }
  %input{ name: 'password', type: 'password', placeholder: 'Password' }
  %input.button{ type: 'submit', value: 'Log in' }