%h3 Please sign up
%form#sign-up{ action: '/users/new', method: 'post' }
  %input{ name: 'name', type: 'text', placeholder: 'Name' }
  %input{ name: 'email', type: 'text', placeholder: 'Email' }
  %input{ name: 'password', type: 'password', placeholder: 'Password' }
  %input{ name: 'password_confirmation', type: 'password', placeholder: 'Password confirmation' }
  %input{ name: 'username', type: 'text', placeholder: 'Username' }
  %input.button{ type: 'submit', value: 'Sign up' }