#flash
  - if flash[:notice]
    .notice
      = flash[:notice]
  - if flash[:errors] and not flash[:errors].empty?
    #errors
      Please try again:
      %ul
        - flash[:errors].each do |error|
          %li= error