%footer
  #makersacademy-logo
    %a{ href: 'http://www.makersacademy.com' }
      %img{ src: 'http://www.makersacademy.com/assets/logo.png' }
  #colophon
    %p
      Built by Josh Hill at 
      %a{ href: 'http://www.makersacademy.com' } Makers Academy
    %p
      View the
      %a{ href: 'https://github.com/jamesjoshuahill/chitter' } source code
      on GitHub