%header
  #mascot
    %img{ src: '/images/chitter_chick_40x40.png', width: '40px', height: '40px', title: 'Chitter Chick' }
  #logo
    Chitter
  - if current_user  
    #welcome-message= "Hi #{@current_user.name}, happy cheeping!"
    #cheep-links
      %a.button.add-cheep-link{ href: '/cheeps/new' } Cheep!
    %form#log-out{ action: '/sessions', method: 'post' }
      %input{ type: 'hidden', name: '_method', value: 'delete' }
      %input.button{ type: 'submit', value: 'Log out' }
  - else
    #user-links
      %a.button.sign-up-link{ href: '/users/new' } Sign up
      %a.button.log-in-link{ href: '/sessions/new' } Log in