!!!
%html
  %head
    %title Chitter
    %link{ href: '/stylesheets/reset.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: '/stylesheets/chitter.css', rel: 'stylesheet', type: 'text/css' }
  %body
    = partial :header
    = partial :flash
    #wrapper
      = yield