!!!
%html
  %head
    %title Chitter
    %link{ href: '/stylesheets/reset.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: '/stylesheets/chitter.css', rel: 'stylesheet', type: 'text/css' }
  %body
    #wrapper
      = partial :header
      = partial :flash
      #container
        = yield
      #push
    = partial :footer