!!!
%html
  %head
    %title Chitter
  %body
    - if flash[:notice]
      #flash
        = flash[:notice]
    - if flash[:errors] and not flash[:errors].empty?
      #errors
        Please try again:
        %ul
          - flash[:errors].each do |error|
            %li= error
    = yield